body {
    margin: 0;
    padding: 0;
    background-color: #D0D0D0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-section {
    margin: 120px 0;
}

.page-section__title {
    margin-left: 300px;
    font-size: 48px;
}

.page-section__title-36px {
    margin-left: 300px;
    font-size: 36px;
    font-weight: normal;
}

.page-header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    line-height: 145%;
}

.page-header__left {
    display: flex;
    align-items: center;
}

.page-header__left img {
    margin-right: 60px;
}

.userbar {
    display: flex;
    align-items: center;
}

.userbar__item {
    margin-right: 60px;
}

.userbar__item img {
    margin-right: 6px;
}

.section-info__main {
    display: flex;
    align-items: flex-end;
}

.section-info__text {
    padding-right: 40px;
    font-size: 16px;
}

.section-info__text h3 {
    font-size: 24px;
    font-weight: bold;
}

.section-info__banner {
    position: relative;
}

.section-info__banner h1 {
    position: absolute;
    top: 20px;
    left: 80px;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

.section-info__banner span {
    font-size: 24px;
    font-weight: bold;
}

.section-catalog__main {
    position: relative;
    width: 1200px;
    height: 1000px;
}

.section-catalog__item1 {
    position: absolute;
}

.section-catalog__item1 h3 {
    position: absolute;
    top: 60px;
    left: 270px;
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;
}

.section-catalog__item2 {
    position: absolute;
    right: 0;
}

.section-catalog__item2 h3 {
    position: absolute;
    top: 40px;
    left: 480px;
    font-size: 48px;
    line-height: 130%;
}

.section-catalog__item3 {
    position: absolute;
    bottom: 0;
}

.section-catalog__item3 h3 {
    position: absolute;
    top: 80px;
    left: 480px;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
}

.section-catalog__item4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-catalog__item4 h3 {
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 48px;
    line-height: 130%;
    color: #FFFFFF;
}

.section-order__main {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 100px 40px 100px 60px;
    background: #F6F6F6;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 145%;
}

.order-form a {
    text-decoration: underline;
    font-size: 16px;
    color: #7D7D7D;
}

.order-form__type {
    font-size: 24px;
}

.order-form__size {
    width: 190px;
    height: 32px;
    margin: 10px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.order-form__select-color {
    width: 32px;
    height: 32px;
}

.order-form__color {
    width: 100px;
    height: 32px;
    padding: 0 10px;
    box-sizing: border-box;
}

.order-form__select-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 232px;
    height: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.order-form__comment {
    width: 232px;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    resize: none;
}

.order-form__price {
    font-size: 24px;
    font-weight: bold;
}

.order-form__submit {
    width: 232px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    color: #EEEEEE;
    background: #AA8A8A;
    border: none;
}

.section-gallery__main {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 300px;
}

.section-gallery__main a {
    position: absolute;
    right: 60px;
}

.section-gallery__item {
    margin: 10px;
}

.section-workers__main {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 300px;
}

.section-workers__main a {
    position: absolute;
    right: 60px;
}

.section-workers__item {
    margin: 10px;
    text-align: right;
}

.section-workers__item h3 {
    font-size: 18px;
    line-height: 80%;
}

.section-faq__main {
    margin-left: 300px;
    font-size: 18px;
    line-height: 145%;
    background: #F8F8F8;
}

.faq-card {
    padding: 50px;
}

.faq-card__toggle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-card__content {
    margin-top: 5px;
    margin-right: 100px;
}

.section-map img {
    margin-left: 300px;
}

.page-footer {
    background: #F6F6F6;
}

.page-footer__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    line-height: 145%;
}

.page-footer__left {
    display: flex;
    align-items: center;
}

.page-footer__left img {
    margin-right: 60px;
}

.page-footer__right {
    display: flex;
}

.page-footer__contact {
    margin-right: 120px;
}

.page-footer__contact img {
    margin-right: 6px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list__item {
    margin-right: 20px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 145%;
}

.breadcrumbs a {
    color: #A0A0A0;
}

.section-company__main {
    display: flex;
    align-items: flex-end;
    margin-left: 300px;
}

.section-company__text {
    padding-left: 40px;
    line-height: 145%;
}

.section-company__text span {
    font-size: 36px;
}

.section-designers__item {
    display: flex;
    margin-top: 150px;
}

.section-designers__item-middle {
    display: flex;
    align-items: flex-end;
    margin-top: 150px;
    margin-bottom: 300px;
}

.section-designers__photo, .section-designers__photo-right {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #de0101;
}

.section-designers__photo img {
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.section-designers__photo-right img {
    position: absolute;
    top: 25px;
    left: -75px;
}

.section-designers__text {
    width: 800px;
    padding-left: 150px;
    padding-right: 200px;
    box-sizing: border-box;
    line-height: 175%;
}

.section-designers__text h3 {
    font-weight: bold;
}

.section-designers__text span {
    color: #de0101;
}

.section-photos__main {
    position: relative;
    width: 1200px;
    height: 900px;
}

.section-photos__item1 {
    position: absolute;
    left: 200px;
}

.section-photos__item2 {
    position: absolute;
    top: 120px;
}

.section-photos__item3 {
    position: absolute;
    top: 40px;
    right: 0;
}

.section-photos__item4 {
    position: absolute;
    left: 480px;
    bottom: 0;
}

.review {
    display: flex;
    align-items: flex-start;
    padding: 120px 90px 60px 90px;
    background-color: #EAEAEA;
}

.review__main {
    margin-left: 90px;
    font-size: 22px;
    line-height: 150%;
}

.review__author {
    font-weight: bold;
    margin: 30px 0;
}
.section-reviews__footer {
    display: flex;
    justify-content: right;
    margin: 40px 100px;
}

.slider-nav {
    display: flex;
    align-items: center;
}

.slider-nav__circle {
    margin: 8px;
}

.slider-nav__arrow {
    margin-left: 75px;
}

.section-vacancies__main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-vacancies__text {
    padding-right: 60px;
    font-size: 24px;
    line-height: 130%;
}

.section-vacancies__text a {
    font-weight: bold;
}

.vacancy-card {
    padding: 35px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vacancy-card:last-child {
    border-bottom: none;
}

.vacancy-card__toggle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.section-production__text {
    margin-left: 300px;
    margin-bottom: 60px;
    padding-right: 200px;
    font-size: 24px;
    line-height: 145%;
}

.slider-production {
    display: flex;
    align-items: center;
    margin-left: 244px;
    justify-content: space-between;
}

.section-products__title {
    margin-left: 50px;
    font-size: 40px;
    font-weight: normal;
    line-height: 145%;
}

.slider-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-products__list {
    display: flex;
}

.slider-products__item {
    margin-right: 30px;
}

.slider-products__item:last-child {
    margin-right: 0;
}

.section-contacts__phone {
    margin-left: 300px;
    margin-bottom: 60px;
    line-height: 145%;
}

.section-contacts__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 90px;
    margin-left: 300px;
    line-height: 145%;
}

.section-contacts__social {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.section-contacts__social svg {
    margin-right: 10px;
}